body
{
    background: linear-gradient(to right, #fbc2eb, #a6c0fe);
}
.changePassword {
    font-family: 'Montserrat', sans-serif;
  }
  
  .back-button {
    padding: 10px 20px;
    width: 200px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: black;
    color: white;
  }
  
  .changepasswordmain {
    margin: 10px;
    /* border: 2px solid saddlebrown; */
    display: flex;
    justify-content: center;
    /* height: 100vh; */
  }
  
  form 
  {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  form div 
  {
    margin-bottom: 15px;
  }
  
  label 
  {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input 
  {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chphead
{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
}
.chphead h3
{
    /* border: 2px solid red; */
    padding: 10px;
    cursor: pointer;
    color: #333; 
    text-transform:uppercase;
    background-color: #8b9daa;

}
.chphead h3.active {
    background-color: #003366; 
    color: white;
    border-bottom: 5px solid red; 
  }