.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-height: 80vh;
    padding: 20px;
    border: 2px solid cadetblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 8%;
  }
  
  .login-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-form div {
    margin-bottom: 15px;
    position: relative;
  }
  
  .login-form i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .login-form input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-image {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .login-image img {
    width: 70%;
  }
  